.navbar-nav{
  margin-left: auto;
}
.navbar{
    background-color: black;
}s
.panel,.panel-default,panel-body{
    background-color: black;
    color: rgba(245, 243, 132,0.8);
    border-color: rgba(238, 238, 0, 0.8);
}
#panel-heading{
    background-color: black;
    color:rgba(238, 238, 0, 0.8);
    border-bottom-color:rgba(238, 238, 0, 0.8);
}