html{
    scroll-behavior: smooth;
}
body{
    background-image: url(images/bc.jpeg);
    background-attachment: fixed;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'Amatic SC', cursive;
}


.welcome {
    color: floralwhite;
    margin: 5vh 5vw;
}

.hi,.we,.backbenchers{
    opacity: 0;
    text-align: left;
}
.hi{
    animation-delay: 0.7s;
    font-size: 2.5rem;
}
.hi span{
    background-color: #bdbd46;
    color: black;
    padding: 0px 8px;
    border-radius: 10px;
}
.we{
    animation-delay: 1.8s;
    font-size: 1.8rem;
}
.backbenchers{
    animation-delay: 2.1s;
    font-size: 2.5rem;
}
.backbenchers span{
    background-color: #bdbd46;
    color: black;
    padding: 0px 12px;
    border-radius: 10px;
}
.quote{
    text-align: right;
    text-align: justify-all;
    color: snow;
}
.hi.animated,.we.animated,.backbenchers.animated{
    opacity: 1;
}



.about-section {
    padding: 20px;
    text-align: center;
    background-color: ivory;
    color: black;
}
.about-text{
    text-align: justify-all;
}
.contactus{
    padding:20px 20px 20px 20px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}
a:any-link{
    text-decoration: none;
    color: inherit;
}

/* Footer */


.footer{
    background-color:whitesmoke;
    padding:1vh 2vh;
    display: flex;
}
.copyright{
    flex: 0.5;
}
.madeby{
    flex: 0.5;
}
@media only screen and (min-width: 600px) {
    .contactus{
	    text-align:center;
	    background-color: black;
    }
    .contactelements{
        display: flex;
    }
    .contactnum{
        flex: calc(1/3);
    }
    .address{
        flex: calc(1/3);
    }
    .whatsapp{
        flex: calc(1/3);
    }
}
@media only screen and (min-width: 769px){
    .about-text{
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 22px;
    }
}