html{
    scroll-behavior: smooth;
}
body{
    background-image:url(../../../images/bc.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.container {
    max-width: 800px;
    min-height: 83vh;
}
.box {
    background: #f2f2f2;
    box-shadow: none;
    margin: 2vh 0;
}
.code-sample {
        background-color: #333;
        margin-bottom: 2em;
        border-radius: 4px;
}
.tab-button.is-active {
        pointer-events: none;
}
.tab-content .box {
        opacity: 0;
        transform: translateY(20px);
        transition: 0.5s;
}
.tab-content.is-active .box {
        opacity: 1;
        transform: translateY(0px);
}
.section{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2vh;
}

.title{
    text-align: center;
    color: ghostwhite;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}



.footer{
    background-color:whitesmoke;
    padding:1vh 2vh;
    display: flex;
}
.copyright{
    flex: 0.5;
}
.madeby{
    flex: 0.5;
}




@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}