html{
    scroll-behavior: smooth;
}
body{
    background-image: url('../images/bc.jpeg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    height:auto;
    position: relative;
    background-attachment: fixed;
    margin:0 2% 2% 2%;
    text-align: justify;
}
.navbar-nav{
  margin-left: auto;
}
.navbar{
    background-color: black;
    border-bottom: solid 1px rgba(245, 243, 132,0.9);
}
.imgbox{
    margin-top: 2%;
    color:yellow;
    font-size: 1.5em;
}
